body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(images/background.jpeg);
    background-size: cover;
    /*background: rgb(9, 52, 121);*/
    /*background: linear-gradient(90deg, rgba(9, 52, 121, 1) 28%, rgba(159, 19, 164, 1) 100%);*/
    color: black;
    font-family: monospace;
}

.container {
    background: rgba(0, 212, 255, 0.4);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 10px rgba(0, 0, 0, 0.4);
    width: 100%;
    max-width: 700px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 30%;
    text-align: start;
    margin: auto;
}

.temp-logo {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 35%;
    border-radius: 10%;
    text-align: start;
    margin: auto;
}

.heading {
    font-size: 36px;
}

.temp-container {
    width: 100%;
    padding: 20px 30px;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.temp-container label {
    padding-left: 10%;
}

.temp-container input {
    margin-right: 10%;
}

input {
    width: 75%;
    font-family: monospace;
    max-width: 80%;
    padding: 8px 4px;
    outline: none;
    background: whitesmoke;
    border-color: black;
    color: darkblue;
    font-size: 15px;
}

input::placeholder {
    color: black;
}

.message {
    color: maroon;
    margin-top: 20px;
}

.copy {
    width: 100%;
    text-decoration: none;
    color: wheat;
    text-align: center;
    padding: 2px 2px;
    background: black;
    margin-top: 5px;
    position: absolute;
    bottom: 0;
}


/* Responsive CSS */
@media (min-width: 600px) {
    .container {
        width: 70%;
    }

    input {
        width: 50%;
    }
}

@media (min-width: 900px) {
    .container {
        width: 60%;
    }

    input {
        width: 40%;
    }
}
