body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(9, 52, 121);
    background: linear-gradient(90deg, rgba(9, 52, 121, 1) 28%, rgba(159, 19, 164, 1) 100%);
    color: black;
}

.container {

    background: rgba(0, 212, 255, 0.3);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 800px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 35%;
    border-radius: 50%;
    text-align: start;
    margin: auto;
}

.temp-logo {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 40%;
    border-radius: 50%;
    text-align: start;
    margin: auto;
}

.heading {
    font-size: 36px;
}

.temp-container {
    width: 100%;
    padding: 20px;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

input {
    width: 60%;
    font-family: monospace;
    padding: 5px;
    outline: none;
    background: whitesmoke;
    border-color: purple;
    color: darkblue;
    font-size: 16px;
}

input::placeholder {
    color: darkorchid;
}

.copy {
    width: 100%;
    text-decoration: none;
    color: wheat;
    text-align: center;
    padding: 2px 2px;
    background: black;
    margin-top: 5px;
    position: absolute;
    bottom: 0;
}


/* Responsive CSS */
@media (min-width: 600px) {
    .container {
        width: 70%;
    }

    input {
        width: 50%;
    }
}

@media (min-width: 900px) {
    .container {
        width: 60%;
    }

    input {
        width: 40%;
    }
}